<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Name</title>
</head>
    <body>
        <h1>✈✈✈✈ Welcome to Your Locations ✈✈✈✈️!</h1>
        <h1>{{ view.get_topic }}</h1>

        <form action="/comments/" method="post">
            <iframe width="560" height="315" src={{ view.get_url }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <label for="your_name">{{ view.get_seat }}</label>
            <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
            <input type="submit" value="OK">
        </form>
        <form>
            <textarea>{{userSetting.list | join:"&#10;"}}</textarea>

        </form>

    </body>
</html>
