<!DOCTYPE html>
<html lang="en">

<!-- The video -->
<!--<video autoplay muted loop id="myVideo">-->
<video id = "my_video" autoplay loop muted>
  <source src="../static/Rain_Fire.mp4" type="video/mp4">
</video>


<head>
    <meta charset="UTF-8">
    <title>Some Name</title>
</head>
<body>
    <h1>Join our Sharing Information game!</h1>
    <hl>
        <li>Scan the QR Code that is in the left buttom side of your personal screen</li>
        <li>You are a part of the game!</li>
        <li>You can share with us information about places,</li>
        <li>Or to respond to other's questions.</li>
    </hl>
</body>
</html>

