<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--&lt;!&ndash; The video &ndash;&gt;-->
<!--&lt;!&ndash;<video autoplay muted loop id="myVideo">&ndash;&gt;-->
<!--<video id = "my_video" autoplay loop muted>-->
  <!--<source src="../static/Rain_Fire.mp4" type="video/mp4">-->
<!--</video>-->


<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Some Name</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>Join our Sharing Information game!</h1>-->
    <!--<hl>-->
        <!--<li>Scan the QR Code that is in the left buttom side of your personal screen</li>-->
        <!--<li>You are a part of the game!</li>-->
        <!--<li>You can share with us information about places,</li>-->
        <!--<li>Or to respond to other's questions.</li>-->
    <!--</hl>-->
<!--</body>-->
<!--</html>-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="wrapper">
        <div class="main">
                <section class="page1">
                    <div class="page_container">
                        <h1><a href=
                        "#">Scroll Once.<br>
                        <small>It's the journey that counts always.</small></a></h1>
                    </div>
                </section>

                <section class="page2">
                    <div class="page_container">
                        <h1><a href=
                        "#">Scroll more.<br>
                        <small>It's the journey that counts always.</small></a></h1>
                    </div>
                </section>

                <section class="page3">
                    <div class="page_container">
                        <h1><a href=
                        "#">Scroll More & More<br>
                        <small>It's the journey that counts always.</small></a></h1>
                    </div>
                </section>

                <section class="page4">
                    <div class="page_container">
                        <h1><a href=
                        "#">Scroll More & More<br>
                        <small>It's the journey that counts always.</small></a></h1>
                    </div>
                </section>

                <section class="page5">
                    <div class="page_container">
                        <h1><a href=
                        "#">Scroll More & More<br>
                        <small>It's the journey that counts always.</small></a></h1>
                    </div>
                </section>

                <section class="page6">
                    <div class="page_container">
                        <h1><a href=
                        "#">Scroll More & More<br>
                        <small>It's the journey that counts always.</small></a></h1>
                    </div>
                </section>

                <section class="page7">
                    <div class="page_container">
                        <h1><a href=
                        "#">Scroll More & More<br>
                        <small>It's the journey that counts always.</small></a></h1>
                    </div>
                </section>

                <section class="page8">
                   <div class="page_container">
                        <h1><a href=
                        "#">Scroll More & More<br>
                        <small>It's the journey that counts always.</small></a></h1>
                    </div>
                </section>
        </div>
    </div>
