{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static " bootstrap/css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "style.css" %}"/>

    <title>
        {% block title %}
            DEFAULT TITLE
        {% endblock %}
        👮 BudgetPolice
    </title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Budget Police</a>
</nav>

<div class="container-fluid">
    {% block content %}
        DEFAULT CONTENT
    {% endblock %}
</div>

</body>
</html>